.margin-t{
  margin-top: 20px;
}
.margin-tb{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-auto{
  margin: auto;
}
.validation-alert{
  margin-top: 1px;
  color: #ce2020;
  font-size: 12px;
  font-weight: 600;
}